style "scrolledwindow-raised" = "default"
{

    xthickness = 2
    ythickness = 3
    GtkScrolledWindow ::scrollbars-within-bevel = 0
    GtkScrolledWindow ::scrollbar-spacing = 3

    engine "pixmap"
    {
          image
          {
                function = SHADOW
                file = "Notebook/scrolled.png"
                border = {8, 8, 8, 8}
                detail = "scrolled_window"
          }
    }
}

widget_class "*.<GtkScrolledWindow>" 		style:highest "scrolledwindow-raised"
