##########################################
# MENUBAR
##########################################
style "menubar" = "default"
{
xthickness=3
ythickness=2

GtkMenuBar::internal-padding	= 1
GtkMenuBar::window-dragging	= 1
GtkMenuBar::shadow-type		= GTK_SHADOW_NONE

fg[NORMAL]		= @text_color
fg[PRELIGHT]		= @text_color
fg[ACTIVE]		= @text_color
fg[SELECTED]		= @text_color
fg[INSENSITIVE]		= @text_color

text[NORMAL]		= @text_color
text[PRELIGHT]		= @text_color
text[ACTIVE]		= @text_color
text[SELECTED]		= @text_color
text[INSENSITIVE]	= @text_color

bg[NORMAL] 		= @base_color
bg[PRELIGHT] 		= @tooltip_bg_color
bg[ACTIVE] 		= darker (@base_color)
bg[SELECTED] 		= @tooltip_bg_color
bg[INSENSITIVE] 	= @tooltip_bg_color

base[NORMAL] 		= @base_color
base[PRELIGHT] 		= @tooltip_bg_color
base[ACTIVE] 		= @tooltip_bg_color
base[SELECTED] 		= @tooltip_bg_color
base[INSENSITIVE] 	= @base_color

engine "murrine" {
roundness 		= 3
contrast 		= 0.5

glow_shade 		= 1.2
glowstyle 		= 1
lightborder_shade   	= 0.88
gradient_shades     	= {0.95, 1.0, 1.0, 1.1}
border_shades 		= {1.0, 1.1}
}}

##########################################
# MENUS	
##########################################
style "menuitem" = "menubar"
{
xthickness=3
ythickness=3

GtkMenuItem::selected-shadow-type	= GTK_SHADOW_ETCHED_IN
GtkMenuItem::horizontal-padding		= 5
GtkMenuItem::toggle-spacing		= 6


bg[SELECTED] 		= @selected_bg_color
fg[PRELIGHT] 		= @selected_fg_color		


engine "murrine" {	
roundness 		= 3
contrast 		= 0.7

glow_shade 		= 1.1
glowstyle 		= 1
lightborder_shade   	= 0.88
gradient_shades     	= {0.9, 1.0, 1.0, 1.1}
border_shades 		= {0.82, 1.73}
}}

style "menu" = "menubar"
{
xthickness=3
ythickness=3

GtkMenu::horizontal-offset	= -1
GtkMenu::horizontal-padding	= 0
GtkMenu::vertical-padding	= 0

fg[PRELIGHT] 		= @tooltip_fg_color	
fg[SELECTED] 		= @tooltip_fg_color

bg[NORMAL]   		= shade (0.95, @base_color)

fg[ACTIVE]		= "#808080"
fg[INSENSITIVE]		= "#808080"

text[ACTIVE] 		= "#808080"
text[INSENSITIVE] 	= "#808080"

text[PRELIGHT] 		= @tooltip_fg_color
text[SELECTED] 		= @tooltip_fg_color

engine "murrine" {
contrast 		= 0.8
}}

##########################################
# MATCHES	
##########################################
widget_class "*<GtkMenuItem>*"          	style "menuitem"
widget_class "*<GtkMenu>*"              	style "menu"
widget_class "*<GtkMenuBar>*"           	style "menubar"
