##########################################
# NOTEBOOK (TABS)	
##########################################
style "notebook" = "default"
{

xthickness		= 4
ythickness		= 1

bg[NORMAL]		= shade (1.0, @bg_color)	# selected tab entire
bg[ACTIVE]		= shade (1.0, @base_color)	# unselected tab
fg[ACTIVE]		= shade (1.0, @text_color)	# unselected tab


GtkNotebook::tab-overlap				= -1
GtkNotebook::tab-roundness				= 0

engine "murrine" {
contrast 		= 0.3
}
}

##########################################
# MATCHES	
##########################################
widget_class "*<GtkNotebook>"    			style "notebook"
widget_class "*<GtkNotebook>*<GtkEventBox>"     	style "notebook"
widget_class "*<GtkNotebook>*<GtkDrawingArea>"  	style "notebook"
widget_class "*<GtkNotebook>*<GtkLayout>"      	style "notebook"
widget_class "*<GtkNotebook>*<GtkLabel>"		style "notebook"


##########################################
# GEDIT FIX
##########################################
style "gedit-scrolled"
{	
xthickness = 1
ythickness = 1
}
style "gedit-notebook"
{	
xthickness = 3
ythickness = 3
}
style "gedit-frame"
{	
xthickness = 1
ythickness = 1
engine "pixmap" {
	image
          {
			function		= SHADOW
			recolorable		= TRUE
	    		file			= ""
			border			= { 5, 5, 5, 6}
			stretch			= TRUE
          }
}
}
widget_class "*Gedit*.<GtkFrame>*"  	   	style "gedit-frame" # STATUS
widget_class "*Gedit*.<GtkScrolledWindow>"     	style "gedit-scrolled"
widget_class "*Gedit*.<GtkNotebook>"     		style "gedit-notebook"
