##########################################
# NOTEBOOK (TABS)	
##########################################
style "notebook"
{


	GtkNotebook::tab-overlap 		= 0
	GtkNotebook::tab-curvature 		= 6
	xthickness    		        	= 4
	ythickness    		        	= 3
bg [NORMAL] = shade (0.95, @bg_color)
	engine "pixmap" 
	{
		image
		{
			function		= FOCUS
		}
		# How to draw boxes with a gap on one side (ie the page of a notebook)
		image 
		{
			function		= BOX_GAP
			recolorable		= TRUE
			file			= "Notebook/notebook-new.png" 
			border			= { 10, 10, 10, 10}
			stretch			= TRUE
		}
		image 
		{
			function		= BOX
			recolorable		= TRUE
			file			= "Notebook/notebook-new.png" 
			border			= { 10, 10, 10, 10}
			stretch			= TRUE
		}
		image
		{
			function		= ARROW
			recolorable		= TRUE
			overlay_file		= "Arrows/arrow-up.png"
			overlay_border		= { 0, 0, 0, 0}
			overlay_stretch		= FALSE
			arrow_direction		= UP
		}    
		image
		{
			function		= ARROW
			recolorable		= TRUE
			overlay_file		= "Arrows/arrow-down.png"
			overlay_border		= { 0, 0, 0, 0}
			overlay_stretch		= FALSE
			arrow_direction		= DOWN
		}    
		image
		{
			function		= ARROW
			recolorable		= TRUE
			overlay_file		= "Arrows/arrow-left.png"
			overlay_border		= { 0, 0, 0, 0}
			overlay_stretch		= FALSE
			arrow_direction		= LEFT
		}
		image
		{
			function		= ARROW
			recolorable		= TRUE
			overlay_file		= "Arrows/arrow-right.png"
			overlay_border		= { 0, 0, 0, 0}
			overlay_stretch		= FALSE
			arrow_direction		= RIGHT
		}
image
		{
			function		= FOCUS
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Notebook/tab-inactive.png"
			border			= { 10, 10, 10, 10}
			stretch			= TRUE
			gap_side		= TOP
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Notebook/tab-inactive.png"
			border			= { 10, 10, 10, 10}
			stretch			= TRUE
			gap_side		= BOTTOM
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Notebook/tab-inactive.png"
			border			= { 10, 10, 10, 10}
			stretch			= TRUE
			gap_side		= RIGHT
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Notebook/tab-inactive.png"
			border			= { 10, 10, 10, 10}
			stretch			= TRUE
			gap_side		= LEFT
		}	
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Notebook/tab-active.png"
			border			= { 10, 10, 10, 10}
			stretch			= TRUE
			gap_side		= BOTTOM
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Notebook/tab-active.png"
			border			= { 10, 10, 10, 10}
			stretch			= TRUE
			gap_side		= TOP
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Notebook/tab-active.png"
			border			= { 10, 10, 10, 10}
			stretch			= TRUE
			gap_side		= RIGHT
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Notebook/tab-active.png"
			border			= { 10, 10, 10, 10}
			stretch			= TRUE
			gap_side		= LEFT
		}
	}
}

style "notebook_bg" 
{
	xthickness				= 1
	ythickness				= 1

	bg[NORMAL] 				= shade (0.95, @bg_color)
	bg[ACTIVE] 				= shade (0.97, @bg_color)
	fg[ACTIVE] 				= mix (0.8, @fg_color, shade (0.97, @bg_color))

}


style "notebook-border" = "notebook"
{

	engine "pixmap" 
	{
		image 
		{
			function		= BOX_GAP
			recolorable		= TRUE
			file			= "Notebook/notebook-blank.png" 
			border			= { 10, 10, 10, 10}
			stretch			= TRUE
		}
		image 
		{
			function		= BOX
			recolorable		= TRUE
			file			= "Notebook/notebook-blank.png" 
			border			= { 10, 10, 10, 10}
			stretch			= TRUE
		}
	}
}
style "gedit-frame"
{	
xthickness = 1
ythickness = 1
}




style "gtk-frame" = "default"
{

    xthickness = 6
    ythickness = 3
    engine "pixmap"
    {
          image
          {
			function		= SHADOW
			recolorable		= TRUE
	    		file			= ""
			border			= { 5, 5, 5, 6}
			stretch			= TRUE
          }

         image
          {
	    		function		= SHADOW_GAP
			shadow			= ETCHED_IN
	    		recolorable		= TRUE
	    		file			= "Notebook/frame.png"
	    		border			= { 4, 4, 6, 0}
	    		stretch			= TRUE
	    		gap_start_file		= "Notebook/frame-gap-start.png"
	    		gap_start_border	= { 7, 0, 6, 0}
	    		gap_end_file		= "Notebook/frame-gap-end.png"
	    		gap_end_border		= { 0, 7, 6, 0}
	    		gap_side		= TOP
          }
    }
}
style "gtk-viewport" = "default"
{

    xthickness = 6
    ythickness = 3
    engine "pixmap"
    {
          image
          {
			function		= SHADOW
			recolorable		= TRUE
	    		file			= "Notebook/frame-new.png"
			border			= { 5, 5, 5, 6}
			stretch			= TRUE
          }
    }
}

style "gtk-noframe" = "gtk-frame"
{

    xthickness = 1
    ythickness = 1
 
}


##########################################
# MATCHES	
##########################################
widget_class "*.<GtkNotebook>"			style "notebook"
widget_class "*.<GtkNotebook>*<GtkEventBox>" 	style "notebook_bg"
widget_class "*.<GtkNotebook>*<GtkDrawingArea>" 	style "notebook_bg"
widget_class "*.<GtkNotebook>*<GtkLayout>" 	style "notebook_bg"
widget_class "*.<GtkNotebook>*<GtkLabel>" 		style "notebook_bg"
widget_class "*Nautilus*<GtkNotebook>"		style "notebook-border"
widget_class "*Gedit*<GtkNotebook>"		style "notebook-border"

#widget_class "*Gedit*.<GtkFrame>*"  	   		style "gedit-frame" # STATUS
#widget_class "*Gedit*.<GtkNotebook>"     		style "gedit-frame"
#widget_class "*Gedit*.<GtkScrolledWindow>"     	style "gedit-frame"

widget_class "*.<GtkFrame>" 			style:highest "gtk-frame"
widget_class "*.<GtkButton>*<GtkFrame>" 		style:highest "gtk-noframe"
widget_class "*.<GtkViewport>" 			style:highest "gtk-viewport"


##########################################
# SCROLLED WINDOW
##########################################
style "scrolledwindow-raised" = "default"
{

    xthickness = 2
    ythickness = 3
    GtkScrolledWindow ::scrollbars-within-bevel = 0
    GtkScrolledWindow ::scrollbar-spacing = 3

    engine "pixmap"
    {
          image
          {
                function = SHADOW
                file = "Notebook/scrolled.png"
                border = {8, 8, 8, 8}
                detail = "scrolled_window"
          }
    }
}

widget_class "*.<GtkScrolledWindow>" 		style:highest "scrolledwindow-raised"
