style "nautilus-breadcrumbs"
{
fg[NORMAL]        	= @fg_color
fg[PRELIGHT]      	= @fg_color
fg[SELECTED]      	= @selected_fg_color
fg[ACTIVE]        	= @fg_color
fg[INSENSITIVE]   	= darker (@bg_color)

bg[NORMAL]        	= @bg_color
bg[SELECTED]	  	= @selected_bg_color
bg[INSENSITIVE]   	= @bg_color

base[NORMAL]      	= lighter (@bg_color)
base[PRELIGHT]    	= shade (0.95, @bg_color)
base[ACTIVE]      	= shade (0.92, @selected_bg_color)
base[SELECTED]    	= shade (0.93, @selected_bg_color)
base[INSENSITIVE] 	= @bg_color

text[NORMAL]      	= @fg_color
text[PRELIGHT]    	= @fg_color
text[ACTIVE]      	= @selected_fg_color
text[SELECTED]    	= @selected_fg_color
text[INSENSITIVE] 	= darker (@bg_color)


bg[PRELIGHT]      	= shade (1.0, mix (0.0, @base_color, @selected_bg_color)) 	# BUTTON MOUSEOVER
bg[ACTIVE]        	= shade (0.93, @bg_color) 					# PUSHED BUTTONS
}

widget "Nautilus*left_slider*" style :highest "nautilus-breadcrumbs" 
widget "Nautilus*right_slider*" style :highest "nautilus-breadcrumbs" 
widget_class "*NautilusPathBar.*ToggleButton" style :highest "nautilus-breadcrumbs" 
