##########################################
###### TOOLBAR ###########################
##########################################
style "toolbar" = "default"
{
xthickness=3
ythickness=3

# TOOLBAR STYLE PROPERTIES
GtkToolbar::button-relief				= GTK_RELIEF_NONE 	
# Indicated the relief to be drawn around a GtkButton. 
# GTK_RELIEF_NORMAL	Draw a normal relief. 
# GTK_RELIEF_HALF	A half relief. 
# GTK_RELIEF_NONE	No relief.

GtkToolbar::internal-padding				= 0

#GtkToolbar::shadow-type=GTK_SHADOW_NONE
# GTK_SHADOW_NONE	No outline. 
# GTK_SHADOW_IN		The outline is bevelled inwards. 
# GTK_SHADOW_OUT	The outline is bevelled outwards like a button. 
# GTK_SHADOW_ETCHED_IN	The outline has a sunken 3d appearance. 
# GTK_SHADOW_ETCHED_OUT	The outline has a raised 3d appearance

fg[NORMAL] 		= @fg_color			
fg[ACTIVE] 		= @fg_color			
fg[PRELIGHT] 		= @selected_fg_color			
fg[SELECTED] 		= @selected_fg_color			
fg[INSENSITIVE]		= @fg_color			

bg[NORMAL] 		= @bg_color	
bg[ACTIVE] 		= @bg_color
bg[PRELIGHT] 		= @bg_color
bg[SELECTED] 		= @bg_color
bg[INSENSITIVE] 	= @bg_color

base[NORMAL] 		= @bg_color	
base[ACTIVE] 		= @bg_color
base[PRELIGHT] 		= @selected_bg_color
base[SELECTED] 		= @selected_bg_color
base[INSENSITIVE] 	= @bg_color

engine "murrine" {
contrast 		= 0.0
reliefstyle		= 1
toolbarstyle		= 0
}}

style "toolbar-button" = "toolbar" {
engine "murrine" {
#border_shades 		= {1.16, 1.0}
glow_shade 		= 1.1
glowstyle 		= 5
lightborder_shade 	= 1.3
gradient_shades 	= {0.95, 1.05, 1.05, 1.18}
}}

style "toolbar-pix" = "toolbar"
{
	engine "pixmap"
	{
		image
		{
			function	= BOX
			file		= "Toolbar/toolbar.png"
			border	= { 8, 8, 8, 8}
			stretch	= TRUE
    		}
 	}
}

style "evo-event-box"
{
	bg_pixmap[NORMAL]			= "Toolbar/plain.png"
}

class "GtkToolbar"   					style "toolbar" 
class "GtkHandleBox"   					style "toolbar" 

widget_class "*<BonoboDockItem>*" 			style "toolbar"
class "*BonoboDockItem" 				style "toolbar"
widget_class "*<HandleBox>*"			 	style "toolbar"
class "*HandleBox" 					style "toolbar"
widget_class "*<GtkToolbar>*"     			style "toolbar"
widget_class "*<Toolbar>*" 				style "toolbar"
class "*Toolbar" 					style "toolbar"

widget_class "*BonoboDockItem" style "toolbar-pix"
class "*BonoboDockItem" style "toolbar-pix"

widget_class "*Toolbar" style "toolbar-pix"
class "*Toolbar" style "toolbar-pix"

widget_class "*<GtkToolbar>*<GtkButton>*"     		style "toolbar-button"
widget_class "*<GtkToolbar>*<GtkComboBox>*"         	style "toolbar-button"
widget_class "*<GtkToolbar>*<GtkComboBoxEntry>*"	style "toolbar-button"
widget_class "*<GtkToolbar>*<GtkCombo>*"         	style "toolbar-button"

# RHYTHMBOX FIX
widget "*RBSourceHeader*"	style "toolbar"
widget "*HeaderToolbar*"	style "toolbar"
widget "*FooterToolbar*"	style "toolbar"
widget "*RB*Entry"		style "entrybox"

# BANSHEE FIX
widget_class	"__gtksharp_1*<GtkToolbar>*"	style "toolbar"
widget_class	"__gtksharp_1*<GtkButton>*"	style "toolbar"

# EVOLUTION FIX
widget "EShellWindow*EShellSwitcher.GtkNotebook.E*Sidebar.GtkEventBox" 		style "evo-event-box"

